* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(0, 0, 0, 0.15);
  color: #333;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #2c3e50;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

footer {
  background-color: rgb(44, 62, 80);
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: auto;
}

.container {
  padding: 2rem;
  max-width: 900px;
  margin: 0 auto;
}

.form-section {
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 10px 10px 30px 10px rgba(44, 62, 80, 0.3);
  text-align: center;
}

.mascot {
  width: 100px;
  margin-bottom: 1rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.options-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colunas */
  gap: 1rem;
  margin-bottom: 2rem;
}

.option {
  position: relative;
  background-color: #ecf0f1;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  font-weight: bold;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
}

.option input[type="checkbox"] {
  display: none;
}

.option:hover {
  background-color: #d0e6f7;
}

.option.selected {
  background-color: #d0e6f7;
  transform: scale(0.98);
  box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.option .language-img {
  width: 40px; /* Ajustando a largura */
  height: 40px; /* Ajustando a altura */
  margin-bottom: 0.5rem;
  object-fit: contain; /* Para garantir que a imagem não estique nem distorça */
}

.option .label-text {
  display: block;
  font-size: 1.1rem;
  margin-top: 10px;
}

.submit-btn {
  background-color: #2c3e50;
  color: white;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #2980b9;
}
